/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* Global Variables */

:root {
    --sideBGColor: #040b14;
    --themecolor: #00A78E;
    --iconBGcolor: #2C2F3F;
    --textcolor: #525252;
    --bgColor: #F7F7F7;
}
body{
    width: 100vw;
}
/* Header Strat */
header {
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}

header .profile {
    text-align: center;
    margin: 10px 0;
}

header .profile img {
    width: 150px;
    border-radius: 60%;
    border: 10px solid var(--iconBGcolor);
}

header .profile h1 {
    color: white;
    font-weight: 600;

}

header .profile .fa-brands {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconBGcolor);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}

header .profile .fa-brands:hover {
    background-color: var(--themecolor);
}

/* Navbar */

header nav {
    margin-top: 30px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgrey;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover i {
    color: var(--themecolor);
}

header nav ul li a:hover {
    color: white;
}

header nav ul li .active {
    color: var(--themecolor);
}

/* Footer */
header .footer {
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: lightgrey;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

header .footer u {
    color: var(--themecolor);
}

/* Mobile Nav Toggle */
#Menubtn {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themecolor);
    text-align: center;
    line-height: 42px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    display: none;
    z-index: 999;
}

/* Mobile View */
@media only screen and (max-width:1050px) {
    header {
        left: -300px;
    }

    header .footer {
        left: -300px;
    }

    #Menubtn {
        display: block;
    }

    /* Header toggle */
    .mobile-nav-active header {
        left: 0;
    }

    .mobile-nav-active .footer {
        left: 0;
    }
}


/* --------------------------------------------------------------- */

/* main section */

main {
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
}

@media only screen and (max-width:1050px) {
    main {
        margin-left: 0;
    }
}

/* ----====Home Section====----- */
#home {
    height: 100vh;
    width: 100%;
    background-image: url(assets/img/Webdev\ May\ 10.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;
}

#home::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.431);
    position: absolute;
    top: 0;
    left: 0;
}
.logo{
    font-size: 40px;
    font-weight: 600;
    margin: top 1px;
    z-index: 1;
}

#home .home-row {
    z-index: 1;
}

#home .home-row h1 {
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 70px;
}

#home .home-row h1 span {
    color: var(--themecolor);
}

#home .home-row p {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}

#home .home-row p span {
    border-bottom: 4px solid var(--themecolor);
}
#home input[type=submit]{
    cursor: pointer;
    background-color: var(--themecolor);
    color: var(--bgColor);
    border: 2px solid var(--themecolor);
    margin-top: 40px;
    font-size: 17px;
    font-weight: 400;
    width: 150px;
    border-radius: 50px;
}

#home input[type=submit]:hover{
   background-color:#054b3f;
}

/* Mobile View */
@media only screen and (max-width:670px) {
    #home {
        padding: 30px;
    }

    #home .home-row h1 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 50px;
    }

    #home .home-row h1 br {
        display: none;
    }

    #home .home-row p {
        color: whitesmoke;
        font-size: 20px;
        font-weight: 00;
    }
}

/* --===== About Section Start =====  -- */

#about {
    padding: 70px 30px;
}

.sub-heading {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.divider {
    width: 80px;
    height: 4px;
    background-color: var(--themecolor);
    border-radius: 3px;
}

#about .divider ~ p {
    color: var(--textcolor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;
}

#about .about-col {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

#about .about-col .img-col {
    flex-basis: 35%;
    text-align: center;
}

#about .about-col .img-col img {
    width: 100%;
}

#about .about-col .info-col {
    flex-basis: 70%;
}

#about .about-col .info-col h2 {
    color: var(--themecolor);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: -10px;
}

#about .about-col .info-col p {
    color: var(--textcolor);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-style: italic;
}

#about .about-col .info-col .icon-list-col {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

#about .about-col .info-col .icon-list-col .icon-list ul li {
    list-style: none;
    margin: 15px 0;
}

#about .about-col .info-col .icon-list-col .icon-list ul li i {
    color: var(--themecolor);
}

#about .about-col .info-col .icon-list-col .icon-list ul li strong {
    color: var(--sideBGColor);
    font-weight: 600;
    margin-right: 2px;
}

#about .about-col .info-col .icon-list-col .icon-list ul li span {
    color: var(--textcolor);
    font-weight: 500;
    font-size: 15px;
}

/* Mobile View */
@media only screen and (max-width:850px) {
    #about {
        padding: 50px 10px;
    }

    #about .divider~p {
        font-size: 14px;
        letter-spacing: 0px;
        text-align: justify;
    }

    #about .about-col {
        flex-direction: column;
    }

    #about .about-col .img-col img {
        width: 50%;
    }

    #about .about-col .info-col h2 {
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0px;
    }

    #about .about-col .info-col p {
        font-size: 14px;
        letter-spacing: 0px;
    }

    #about .about-col .info-col .icon-list-col {
        flex-direction: column;
        gap: 0px;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li {
        margin: 10px 0;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li strong {
        font-weight: 500;
        margin-right: 2px;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li span {
        font-weight: 400;
        font-size: 13px;
    }
}

@media only screen and (max-width:400px) {
    #about .about-col .img-col img {
        width: 90%;
    }
}

/* --===== About Section end =====  -- */



/* --===== Skill Section Start =====-- */

#skill{
    padding: 0px 30px;
}
#skill .sub-heading{
    margin-top: 0px;
}
#skill .skill-row{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
#skill .skill-row .skill-box .skill-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
#skill .skill-row .skill-box .skill-info h2{
    color: var(--sideBGColor);
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
}
#skill .skill-row .skill-box .skill-outer-line{
    width: 100%;
    height: 10px;
    background-color: lightgray;
    border-radius: 15px;
}
#skill .skill-row .skill-box .skill-outer-line .skill-inner-line{
    height: 10px;
    background-color: var(--themecolor);
    border-radius: 20px;
}
/* Mobile View */
@media only screen and (max-width:450px) {
    #about {
        padding: 50px 15px;
    }
    #skill .skill-row{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
    }
}
/* --===== Skill Section end =====-- */
/* <!-- ------------------------------------------
        ------------------------------------------     --> */


/* --===== Resume Section Start =====-- */

#resume{
    padding: 70px 30px;
    background-color: white;
}
#resume .resume-row{
    display: flex;
    justify-content: space-between;
    margin: 35px;
    gap: 20px;
}
#resume .resume-row .resume-cols{
    flex-basis: 50%;
}
#resume .resume-row .resume-cols h2{
    color: var(--sideBGColor);
    font-weight: 600;
    font-size: 25px;
    margin: 15px;
}
#resume .resume-row .resume-cols .my-info{
    padding: 0px 20px 0px 20px;
    margin: 20px;
    border-left: 2px solid var(--themecolor);
    position: relative;
}
#resume .resume-row .resume-cols .my-info::before{
    content: '';
    position: absolute;
    top: 0px;
    left: -9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:2px solid var(--themecolor) ;
    background-color: white;
}
#resume .resume-row .resume-cols h3{
    color: var(--sideBGColor);
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
#resume .resume-row .resume-cols .my-info p{
    color: var(--textcolor);
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin: 10px;
}
#resume .resume-row .resume-cols .my-info ul li{
    margin: 10px;
    margin-left: 20px;
    color: var(--textcolor);
    font-size: 15px;
    font-weight: 500;
}

#resume .resume-row .resume-cols .my-edu{
    padding: 0px 20px 0px 20px;
    margin: 20px;
    border-left: 2px solid var(--themecolor);
    position: relative;
}

#resume .resume-row .resume-cols .my-edu::before{
    content: '';
    position: absolute;
    top: 0px;
    left: -9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:2px solid var(--themecolor) ;
    background-color: white;
}
#resume .resume-row .resume-cols .my-edu p{
    color: var(--textcolor);
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin: 10px;
}
#resume .resume-row .resume-cols .my-edu ul li{
    margin: 10px;
    margin-left: 20px;
    color: var(--textcolor);
    font-size: 15px;
    font-weight: 500;
}

/* Mobile View */
@media only screen and (max-width:800px) {
    #resume{
        padding:10px 5px;
    }
#resume .resume-row{
    flex-direction: column;
}
#resume .resume-row .resume-cols{
    flex-basis: 100%;
}
#resume .resume-row .resume-cols .my-info{
    margin: 0px;
   
}

}

/* <!-- --------------------------------------------------------------------------------------> */
        
/* <!--===== Contact Section Starts =====  --> */

#contact{
    padding: 70px 30px;
}

#contact .contact-row{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    width: 100%;
}
#contact .contact-row .contact-left{
    flex-basis: 40%;
    min-width: 40%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 4px;
    padding: 30px;
}
#contact .contact-row .contact-left .icon-box{
    display: flex;
    gap: 15px;
    /* align-items: center; */
    margin: 0px;
}
#contact .contact-row .contact-left .icon-box .icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--themecolor);
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: var(--themecolor);
    transition: 0.5s;
}
#contact .contact-row .contact-left .icon-box .icon i:hover{
    background-color: var(--themecolor);
    color: var(--bgColor);
    cursor: pointer;
}
#contact .contact-row .contact-left .icon-box .info h4{
    font-size: 20px;
    color: var(--sideBGColor);
    font-weight: 600;
}
#contact .contact-row .contact-left .icon-box .info h4 + p{
    color: var(--textcolor);
    font-size: 15px;
    font-weight: 500;
}
#contact .contact-row .contact-right{
    flex-basis: 60%;
    min-width: 60%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 4px;
    padding: 30px;
}
#contact .contact-row .contact-right form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}
#contact .contact-row .contact-right form input,
#contact .contact-row .contact-right form textarea{
    display: block;
    width: 100%;
    margin: 2   px;
    font-size: 15px;
    font-weight: 500;
    color: var(--textcolor);
    padding: 10px 20px;
    border: 2px solid lightgray;
    border-radius: 2px;
    outline: none;
    resize: none;
    transition: 0.5s;
}
#contact .contact-row .contact-right form input:focus,
#contact .contact-row .contact-right form textarea:focus{
    border: 2px solid var(--themecolor);
}
#contact .contact-row .contact-right form input[type=submit]{
    background-color: var(--themecolor);
    color: var(--bgColor);
    border: 2px solid var(--themecolor);
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
#contact .contact-row .contact-right form input[type=submit]:hover{
    background-color:#054b3f;
}

/* Mobile View */
@media only screen and (max-width:1100px){
    #contact{
        padding: 30px 5px;
    }
    
    #contact .contact-row{
        flex-direction: column;
        gap: 10px;
       
    }
    #contact .contact-row .contact-right{
        margin: 0px;
        padding: 0px;
       
    }
   
}
/* --===== Resume Section end =====-- */